@model RayONS.DAL.Question
@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>

<fieldset>
    <legend>Въпрос</legend>

    <div class="display-label">Тест</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Test.TestName)
    </div>

    <div class="display-label">Верен отговор</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrueAnswer)
    </div>

    <div class="display-label">Име на въпроса</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionName)
    </div>

    <div class="display-label">Отговор 1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer1)
    </div>

    <div class="display-label">Отговор 2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer2)
    </div>

    <div class="display-label">Отговор 3</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer3)
    </div>

    <div class="display-label">Отговор 4</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Answer4)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Към списъка", "Index")
</p>
